body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

#entry-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35vh;
  justify-content: space-between;
}

#buy-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#form-container {
  padding: 10vh;
  padding-top: 0;
  margin: 5vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: solid 2px black;
  border-radius: 10px;
}

#form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

a > button {
  width: 100%;
}

#button-container > * {
  width: 30%;
}

#list-page {
  padding: 5vw;
  padding-top: 0vw;
  align-self: flex-start;
}

#list-container {
  display: flex;
}

#portfolio-container {
  width: 50vw;
  border-right: solid 2px black;
}

.console {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  opacity: 0;
}

.list-item {
  width: 70%;
}

#nav-container {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

#transaction-container {
  align-self: flex-start;
  width: 50vw;
}

#main-container {
  display: flex;
  flex-direction: row;
}

.up {
  background-color: #bdffd5;
}

.down {
  background-color: #ffbdbd;
}
